body{
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    background-color: #222933;
    color: white;
}
header{
    border-radius: 10px 10px 0 0;
    position: fixed;
    margin: 0;
    top: 5px;
    right: calc(20vh - 15px);
    height: 30px;
    width: 50vw;
    background-color: #1ee099;
    vertical-align: auto;
}
header nav{
    margin-top: 15px;
    width: 100%;
    height: 100%;
    transform: translateY(-40%);
}
header nav ul{
    margin: 0;
}
header nav ul li{
    width: auto;
    margin-left: 20px;
    display: inline;
    cursor: pointer;
    /* float: left; */
    list-style: none;
    font-size: 20px;
}
.animation_float{
    bottom: 0;
    left: 45px;
    border-radius: 10px 10px 0 0;
    height: 90%;
    width: 115px;
    position: absolute;
    background-color: #4d5c57;
}
.perfil{
    border-radius: 50%;
    font-size: 90px;
    background-color: #1ee099;
    width: 20vh;
    height: 20vh;
    text-align: center;
    margin: 10px;
    padding: 10px;
}
.perfil i{
    margin-top: 50%;
    transform: translate(-10%,-50%);
}
.descriptions_content{
    z-index: -1;
    top: 35px;
    left: calc(20vh - 15px);
    right: calc(20vh - 15px);
    position: absolute;
    /* width: 70vw; */
    height: 75vh;
    background-color: #4e5a5685;
    border-radius: 15px 0;
    padding: 10px;
}
.descriptions_content div{
    padding: 5%;
}
footer{
    position: absolute;
    bottom: 0px;
    background-color: #4e5a5685;
    width: 100vw;
    height: 15vh;
}
footer ul{
    margin: auto;
}
footer ul li{
    cursor: pointer;
    float: left;
    list-style: none;
    margin-left: 40px;
    font-size: 2.5vh;
    transform: translateY(100%);
}
footer input:disabled{
    position: absolute;
    right: 0;
    bottom: 2px;
    margin: 5px;
    text-align: center;
    border: 0;
    color: white;
    width: 4vw;
}
